<!doctype html>
<html>
<head>
<title>{{title}}</title>
<meta name="description" content="{{title}}">
<meta name="keywords" content="{{title}}">
<meta charset="UTF-8">
</head>
<body>
<h1>{{title}}</h1>
<div>
{% for item in records %}
    <p>{{ item.0 }}</p>
{% endfor %}
</div>
</body>
</html>
